
section {
    margin-bottom: 48px;
}

.products-list {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: flex-start;
}

.products-list .product {
    width: 22.333333%;
    margin: 0 15px 48px;
}