<div class="AppComponent">
    <div>
        <header class="AppComponent-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md">
                        <div class="AppComponent-headerBrand">
                            <h1>Angular Shop</h1>
                            <span>We are keen on your products!</span>
                        </div>
                    </div>
                    <div class="col-md">
                        <nav class="AppComponent-nav">
                            <ul flex-row end>
                                <li routerLinkActive="active">
                                    <a routerLink="/home">Products</a>
                                </li>
                                <li>
                                    <a routerLink="/cart">Cart</a>
                                </li>
                                <li>
                                    <a routerLink="/order">Order</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main class="AppComponent-container">
            <div class="container-fluid">
                <router-outlet
                        (activate)='onActivate($event)'
                        (deactivate)='onDeactivate($event)'>
                </router-outlet>
                <!-- Routed views go here -->
            </div>
        </main>
    </div>
    <footer class="AppComponent-footer">
        <div class="container-fluid">
            Copy by Roman Shevchenko | Angular Work Shop
        </div>
    </footer>
</div>

